body {
    background-color: #7F7DDA;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    font-variant: small-caps;
  }

h1 {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
  }
h3 {
    font-size: 18px;
    font-weight: 700;
    font-weight: bold;
    text-decoration: underline;
  }

.navigation-list {
    list-style-type: none;
  }
.navigation-list li {
    display: inline-block;
    margin-left: 35px;
}
.navigation-list__item--active {
    text-decoration: none;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}
.page-header__item {
    flex: 0 1 200px;
    height: 80px;


}
.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
  }

.page-footer{
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

button:hover,
button:focus,
 .button:hover,
 .button:focus {
    cursor:pointer;
    opacity: 0.8;
 }
 .button, button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #357b70;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition-duration: 0.2s; 
  }
/* calculator CSS */
*{
  box-sizing: border-box;
}

.calculator{
  width: 300px;
  border: 1px black solid;
  padding: 10px;
  margin: 20px auto;
}

.input-output-container{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.input-output-container > *{
  text-align: center;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  
  margin: 0;
  padding: 0;
}

.input{
  width: 20%;
}


.operator{
  border: 0;
  font-size: 1.3em;
  font-weight: bolder;
  width: 5%;
}

.equal-sign{
  font-size: 1.3em;
  font-weight: bolder;
  width: 5%;
}

.output{
  border: 1px black solid;
  width: 45%;
}

.buttons-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

button{
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
}

button#eql{
  grid-column-start: 1;
  grid-column-end: 3;
}

#demo {
  color: #004cff;
  width: 300px;
  padding: 10px;
  margin: 20px auto;
}
